@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
    font-family: 'goldman';
    src: url('../fonte/Goldman-Bold.ttf');
}

:root {
    --cor1: #c77aa7;
    --cor3: #d3fc72;
    --cor4: #2d0464;
    --roxo: #553199;
    --cor5: #0d002c;
    --withe: #eae8e0;
    --black: #353535;
}

* {
    margin: 0px;
}

body {
    background-color: var(--black);
    font-family: sans-serif;
}

li,
a {
    list-style: none;
    text-decoration: none;
    color: var(--withe);
    font-family: 'goldman';
}

a:hover {
    color: var(--cor3);
}

h1,
h2,
h3 {
    text-align: center;
    font-family: 'goldman';
}

header {
    background-color: var(--cor5);
    border-bottom: 10px double var(--cor3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 120px;
    flex-direction: row;
}

header img {
    height: 250px;
    width: 200px;
    margin-top: 155px;
    position: absolute;
    transform: translateX(-50%);
    animation: flutuar 3s ease-in-out infinite;
}
@keyframes flutuar {
    0% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}

#menu {
    font-size: 25px;
    margin-left: auto;
    margin-right: 60px;
}

#menu ul {
    display: flex;
    gap: 20px;
}

/*~~~ main ~~*/
#conteudo {
    margin: 120px 90px 35px 90px;
    padding: 20px;
    background-color: var(--withe);
    border-radius: 25px;
}

/* ~~~~~~~~~~~~~ seção da empresa ~~~~~~~~~~*/
#secao_empresa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#img_flor {
    width: 50px;
    height: 50px;
}

h1 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

#secao_empresa p {
    margin: 0 3rem;
    /*espaçamento ao lado*/
    font-size: 35px;
}

/*~~~~~~~~ img fundo ~~~~~~*/
div#img_fundo {
    display: inline-block;
    width: 100%;
    height: 160px;
    border-radius: 10px 50px 10px 50px;
    background-color: var(--black);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div#img_fundo {
    background-image: url('../imgs/lorem.jpg');
}

/*~~~~~~~~~~ seção dos integrantes ~~~~*/
section#equipe_carrosel {
    background-color: var(--cor5);
    display: flex;
    padding: 15px 10px;
    margin: 0 90px;
    font-size: 20px;
    color: var(--withe);
    border-left: 10px double var(--cor3);
    border-right: 10px double var(--cor3);
}

section#equipe_carrosel img {
    height: 185px;
    width: 120px;
    border-radius: 40px;
    filter: drop-shadow(-5px 7px 0 var(--cor4));
}

section#equipe_carrosel img:hover {
    transform: scale(1.05);
}

.pessoa {
    text-align: center;
}

.pessoa h5 {
    font-size: 15px;
}

.pessoa p {
    margin: 0 25px;
}

/*~~~~~~~~~~~~~ secao golden maker ~~~~~~~*/
section#golden_maker {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#video video{
    height: 25rem;
    width: 50rem;
    background-color: var(--cor5);
}

/* ~~~~~~~~~~~~ MVV ~~~~~~~~~~~~~~~~*/
section#MVV {
    margin: 0 auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.bloco {
    background-color: var(--black);
    padding: 15px;
    width: 25rem;
    color: var(--withe);
    font-size: 25px;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.bloco p{
    margin: 0 20px;
}

/* Aumenta ao passar o mouse */
.bloco:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(44, 44, 44, 0.4); /* opcional: sombra mais forte no hover */
}
/* ~~~~~~~~~~~~~ seção dos projetos ~~~~~~~~~~*/
#Golden-Maker, #Delirium {
    text-align: center;
    font-size: 25px;
    margin: 0 10rem;
}
.link-proj {
   color: var(--black);
}
.link-proj:hover {
   color: var(--cor4);
}

div#img-fundo-goldenmaker, div#img-fundo-delirium {
    display: inline-block;
    width: 100%;
    height: 250px;
    border-radius: 10px 50px 10px 50px;
    background-color: var(--black);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div#img-fundo-goldenmaker {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../imgs/circuito_fundo.jpg');
}
div#img-fundo-goldenmaker img {
    width: 150px;
    height: 200px;
}

div#img-fundo-delirium {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../imgs/fundobb.jpeg');
}
div#img-fundo-delirium img {
    width: 180px;
    height: 150px;
    background-color: var(--withe);
    border-radius: 40px;
}

/*~~~~~~~~~~~ roda pe ~~~~~~~~~~~~~~~~~~~~*/
footer {
    background-color: var(--cor5);
    border-top: 10px double var(--cor3);
    color: var(--withe);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

footer img {
    width: 55px;
    height: 55px;
    align-items: end;
}

h5 {
    font-family: 'Press Start 2P';
    color: var(--cor3);
}

.contatos {
    padding: 30px;
}

#contatos {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#contatos img {
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

#contatos-github {
    display: flex;
    flex-direction: column;
}

#contatos-instagram {
    display: flex;
    flex-direction: column;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Stickers.html ~~~~~~~~~~~~~~~~~~~~~~~~~*/
#galeria {
    margin: 0 auto;
}
.descricao-galeria {
    text-align: center;
    margin: 0 11rem;
    font-size: 25px;
    padding: 20px;
    border-radius: 35px 15px;
    color: var(--withe);
    background-color: var(--cor5);
}

/* ~~~~~~ area dos videos e imgs ~~~~~~~*/
.carrosel-galeria-videos {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 60rem;
    overflow: hidden;
}

.slides {
    display: flex;
    margin: 50px;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
    /* espaço interno pra mostrar o corte */
}

.video {
    flex: 0 0 50rem;
    /* largura mínima */
    max-width: 100%;
    border-radius: 2px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-align: center;
}

video {
    height: 25rem;
    width: 100%;
    border-radius: 10px 20px;
    object-fit: contain;
    background-color: var(--cor5);
    /* cor de fundo se o vídeo */
}

/* botões */
.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: var(--withe);
    border: none;
    font-size: 2rem;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 5;
}

.btn:hover {
    background: rgba(0, 0, 0, 0.359);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/*~~~~~~ stikers ~~~~~~*/
.stikers {
    column-count: 3;
    /* número de colunas */
    column-gap: 20px;
    padding: 0 150px;
}

.item {
    break-inside: avoid;
    /* impede que o item quebre entre colunas */
    margin-bottom: 15px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item img {
    width: 100%;
    border-radius: 10px;
    display: block;
    background-color: #c77aa796;
}

.item:hover {
    transform: translateY(-5px);
}

/*~~~~~~ area de dinamismo ~~~~~~~~*/
@media (max-width: 1200px) {
    div#img_fundo {
        background-position: center center;
    }

    /*~~~~ area da equipe ~~~~*/
    section#equipe_carrosel {
        max-width: 200%;
        overflow-x: auto;
        scroll-behavior: smooth;
        justify-content: unset;
    }

    #equipe_carrosel::-webkit-scrollbar {
        height: 10px;
    }

    #equipe_carrosel::-webkit-scrollbar-thumb {
        background: var(--cor1);
        border-radius: 2px;
    }

    #equipe_carrosel::-webkit-scrollbar-thumb:hover {
        background: var(--cor3);
    }
}

@media (max-width: 992px) {
    section#equipe_carrosel {
        font-size: 15px;
        margin: 0 20px;
    }

    section#equipe_carrosel img {
        height: 120px;
        width: 95px;
    }

    /*~~~~~~~~~ MVV ~~~~~~~~~~*/
    .bloco {
        padding: 15px;
        width: 22rem;
        font-size: 20px;
    }
    .bloco p{
        margin: 0 15px;
    }

    /*~~~~~~ stickers ~~~~~*/
    .descricao-galeria {
        margin: 0 2rem;
        font-size: 20px;
        padding: 20px;
    }

    video {
        height: 15rem;
        background-color: var(--cor4);
        /* cor de fundo se o vídeo */
    }

    .stikers {
        column-count: 2;
        /* número de colunas */
        column-gap: 20px;
        padding: 0 30px;
    }

    footer {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    #conteudo {
        margin: 120px 35px 35px 35px;
    }

    header img {
        height: 200px;
        width: 170px;
        margin-top: 120px;
    }

    #menu {
        font-size: 22px;
        margin-right: 40px;
    }

    #secao_empresa p {
        margin: 0 16px;
        font-size: 20px;
    }

    section#golden_maker video {
        height: 15rem;
        width: 100%;
    }

    .slides {
        display: flex;
        margin: 30px;
        gap: 20px;
    }

    video {
        height: 13rem;
    }

    /* ~~~~~~~~~~~~~ seção dos projetos ~~~~~~~~~~*/
    #Golden-Maker, #Delirium {
        font-size: 20px;
        margin: 0 10px;
    }
    div#img-fundo-goldenmaker, div#img-fundo-delirium {
        height: 250px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 25px;
    }

    #menu {
        font-size: 20px;
        margin-right: 35px;
    }

    #conteudo {
        margin: 100px 10px 20px 10px;
        padding: 10px;
    }

    .bloco {
        padding: 10px;
        width: 17rem;
        font-size: 20px;
    }
    .bloco p{
        margin: 0 13px;
    }

    video {
        height: 10rem;
    }
}