@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
    font-family: 'goldman';
    src: url('../fonte/Goldman-Bold.ttf');
}

:root {
    --cor1: #fe0096;
    --cor2: #ffcd00;
    --cor3: #d3fc72;
    --cor4: #2d0464;
    --roxo: #553199;
    --cor5: #0d002c;
    --withe: #f1ffe7;
    --black: #353535;
}

* {
    margin: 0px;
}

body {
    background-color: var(--black);
    font-family: sans-serif;
}

li,
a {
    list-style: none;
    text-decoration: none;
    color: var(--withe);
    font-family: 'goldman';
}

a:hover {
    color: var(--cor1);
}

h1,
h2,
h3 {
    text-align: center;
    font-family: 'goldman';
}

header {
    background-color: var(--cor4);
    border-bottom: 10px double var(--cor3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 120px;
    flex-direction: row;
}

header img {
    height: 250px;
    width: 200px;
    margin-top: 130px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#menu {
    font-size: 25px;
    margin-left: auto;
    margin-right: 60px;
}

#menu ul {
    display: flex;
    gap: 20px;
}

/*~~~ <main> ~~*/
#conteudo {
    margin: 120px 90px 35px 90px;
    padding: 20px;
    background-color: var(--withe);
    border-radius: 5px;
    border-right: 10px double var(--cor1);
    border-bottom: 10px double var(--cor4);
}

/* ~~~~~~~~~~~~~ seção da empresa ~~~~~~~~~~*/
#secao_empresa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#img_flor {
    width: 50px;
    height: 50px;
}

h1 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

#secao_empresa p {
    margin: 0 15rem;
    font-size: 25px;
}

/*~~~~~~~~ img fundo ~~~~~~*/
div#img_fundo {
    display: inline-block;
    width: 78rem;
    height: 150px;
    padding: 0px;
    border-radius: 10px 50px 10px 50px;
    background-color: var(--black);
    background-image: url('../imgs/lorem.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media(max-width: 1300px) {
    div#img_fundo {
        width: 64.4rem;
        background-position: center center;
    }
}

@media(max-width: 600px) {
    div#img_fundo {
        width: 20rem;
        background-position: center center;
    }
}

/*~~~~~~~~~~ seção dos integrantes ~~~~*/
section#carrosel {
    background-color: var(--cor5);
    display: flex;
    gap: 20px;
    padding: 15px 10px;
    font-size: 20px;
    color: var(--withe);
    border-left: 10px double var(--cor3);
    border-right: 10px double var(--cor3);
}

section#carrosel img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.pessoa {
    text-align: center;
}

.pessoa h5 {
    font-size: 15px;
}

@media(max-width: 1300px) {
    section#carrosel {
        max-width: 200%;
        overflow-x: auto;
        scroll-behavior: smooth;
        justify-content: unset;
    }

    #carrosel::-webkit-scrollbar {
        height: 4px;
    }

    #carrosel::-webkit-scrollbar-thumb {
        background: var(--cor1);
        border-radius: 2px;
    }

    #carrosel::-webkit-scrollbar-thumb:hover {
        background: var(--cor3);
    }
}

@media(max-width: 800px) {
    section#carrosel {
        font-size: 15px;
    }

    section#carrosel img {
        height: 100px;
        width: 100px;
    }
}

/*~~~~~~~~~~~~~ secao golden maker ~~~~~~~*/
section#golden_maker {
    width: 60rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    padding: 20px 10px;
    border-radius: 5px;
    background-color: var(--cor5);
    border-left: 10px double var(--cor3);
    border-right: 10px double var(--cor3);
}

#logo_golden_maker {
    display: flex;
    justify-content: center;
}

#logo_golden_maker img {
    width: 220px;
    height: 250px;
    /*filter: drop-shadow(-5px 2px 5px var(--cor3));*/
}

article#descricao_golden_maker {
    color: var(--withe);
    font-size: 25px;
    align-items: center;
    text-align: start;
    padding: 0 15px;
}

/*~~~~~~~~~~~ roda pe ~~~~~~~~~~~~~~~~~~~~*/
footer {
    background-color: var(--cor4);
    border-top: 10px double var(--cor3);
    color: var(--withe);
    text-align: center;
    align-items: center;
    padding: 10px;
}

footer img {
    width: 55px;
    height: 55px;
    align-items: end;
}

h5 {
    font-family: 'Press Start 2P';
    color: var(--cor3);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Stickers.html ~~~~~~~~~~~~~~~~~~~~~~~~~*/