@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
    font-family: 'goldman';
    src: url('../fonte/Goldman-Bold.ttf');
}

:root {
    --cor1: #c77aa7;
    --cor3: #d3fc72;
    --cor4: #2d0464;
    --roxo: #553199;
    --cor5: #0d002c;
    --withe: #f1ffe7;
    --black: #353535;
}

* {
    margin: 0px;
}

body {
    background-color: var(--black);
    font-family: sans-serif;
}

li,
a {
    list-style: none;
    text-decoration: none;
    color: var(--withe);
    font-family: 'goldman';
}

a:hover {
    color: var(--cor3);
}

h1,
h2,
h3 {
    text-align: center;
    font-family: 'goldman';
}

header {
    background-color: var(--cor5);
    border-bottom: 10px double var(--cor3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 120px;
    flex-direction: row;
}

header img {
    height: 250px;
    width: 200px;
    margin-top: 130px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#menu {
    font-size: 25px;
    margin-left: auto;
    margin-right: 60px;
}

#menu ul {
    display: flex;
    gap: 20px;
}

/*~~~ main ~~*/
#conteudo {
    margin: 120px 90px 35px 90px;
    padding: 20px;
    background-color: var(--withe);
    border-radius: 5px;
}

/* ~~~~~~~~~~~~~ seção da empresa ~~~~~~~~~~*/
#secao_empresa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#img_flor {
    width: 50px;
    height: 50px;
}

h1 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

#secao_empresa p {
    margin: 0 3rem;
    /*espaçamento ao lado*/
    font-size: 25px;
}

/*~~~~~~~~ img fundo ~~~~~~*/
div#img_fundo {
    display: inline-block;
    width: 100%;
    height: 190px;
    padding: 0px;
    border-radius: 10px 50px 10px 50px;
    background-color: var(--black);
    background-image: url('../imgs/lorem.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*~~~~~~~~~~ seção dos integrantes ~~~~*/
section#equipe_carrosel {
    background-color: var(--cor5);
    display: flex;
    padding: 15px 10px;
    margin: 0 90px;
    font-size: 20px;
    color: var(--withe);
    border-left: 10px double var(--cor3);
    border-right: 10px double var(--cor3);
}

section#equipe_carrosel img {
    height: 185px;
    width: 120px;
    border-radius: 40px;
    filter: drop-shadow(-5px 7px 0 var(--cor4));
}

section#equipe_carrosel img:hover {
    transform: scale(1.05);
}

.pessoa {
    text-align: center;
}

.pessoa h5 {
    font-size: 15px;
}
.pessoa p{
    margin: 0 25px;
}

/*~~~~~~~~~~~~~ secao golden maker ~~~~~~~*/
section#golden_maker {
    display: flex;
    justify-content: center;
}
section#golden_maker iframe{
    height: 25rem;
    width: 50rem;
    background-color: var(--cor5); /* cor de fundo se o vídeo */
}


/*~~~~~~~~~~~ roda pe ~~~~~~~~~~~~~~~~~~~~*/
footer {
    background-color: var(--cor5);
    border-top: 10px double var(--cor3);
    color: var(--withe);
    text-align: center;
    align-items: center;
    padding: 10px;
}

footer img {
    width: 55px;
    height: 55px;
    align-items: end;
}

h5 {
    font-family: 'Press Start 2P';
    color: var(--cor3);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Stickers.html ~~~~~~~~~~~~~~~~~~~~~~~~~*/
.carrosel-galeria-videos {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 60rem;
    overflow: hidden;
}

.slides {
    display: flex;
    margin: 50px;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
    /* espaço interno pra mostrar o corte */
}

.video {
    flex: 0 0 54rem;
    /* largura mínima */
    max-width: 100%;
    border-radius: 2px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-align: center;
}
video {
    height: 25rem;
    width: 100%;
    border-radius: 10px 20px;
    object-fit: contain;
    background-color: var(--cor5); /* cor de fundo se o vídeo */
}

/* botões */
.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: var(--withe);
    border: none;
    font-size: 2rem;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 5;
}

.btn:hover {
    background: rgba(0, 0, 0, 0.359);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/*~~~~~~ stikers ~~~~~~*/
.stikers {
  column-count: 3; /* número de colunas */
  column-gap: 20px;
  padding: 0 150px;
}

.item {
  break-inside: avoid; /* impede que o item quebre entre colunas */
  margin-bottom: 15px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item img {
  width: 100%;
  border-radius: 10px;
  display: block;
  background-color: #c77aa796;
}

.item:hover {
  transform: translateY(-5px);
}

/*~~~~~~ area de dinamismo ~~~~~~~~*/
@media (max-width: 1200px) {
    div#img_fundo {
        background-position: center center;
    }

    /*~~~~ area da equipe ~~~~*/
    section#equipe_carrosel {
        max-width: 200%;
        overflow-x: auto;
        scroll-behavior: smooth;
        justify-content: unset;
    }

    #equipe_carrosel::-webkit-scrollbar {
        height: 10px;
    }

    #equipe_carrosel::-webkit-scrollbar-thumb {
        background: var(--cor1);
        border-radius: 2px;
    }

    #equipe_carrosel::-webkit-scrollbar-thumb:hover {
        background: var(--cor3);
    }
}

@media (max-width: 992px) {
    section#equipe_carrosel {
        font-size: 15px;
        margin: 0 20px;
    }

    section#equipe_carrosel img {
        height: 120px;
        width: 95px;
    }

    /*~~~~~~ stickers ~~~~~*/
    video {
        height: 15rem;
        background-color: var(--cor4); /* cor de fundo se o vídeo */
    }
    .stikers {
        column-count: 2; /* número de colunas */
        column-gap: 20px;
        padding: 0 30px;
    }
}

@media (max-width: 768px) {
    #conteudo {
        margin: 120px 35px 35px 35px;
    }

    header img {
        height: 200px;
        width: 170px;
        margin-top: 120px;
    }

    #menu {
        font-size: 22px;
        margin-right: 40px;
    }

    #secao_empresa p {
        margin: 0 16px;
        font-size: 20px;
    }

    section#golden_maker iframe{
        height: 15rem;
        width: 100%;
    }

    .slides {
        display: flex;
        margin: 30px;
        gap: 20px;
    }
    video {
        height: 13rem;
    }
}

@media (max-width: 480px) {}